*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f3f3f7;
    position: relative;
    
}

header {
    background-color: #609A7D;
    color: white;
    font-size: 1.2em;
}

form {
    margin-left: 100px;
    margin-right: 150px;
}

.navbar-item-custom, .navbar-item-custom a {
    color: white;
}

.img-fluid {
    
    margin-right: 60px;
}


h3 {
    text-align: center;
    padding: 20px;
    color: #DC9A7D;
}

section {
    margin: 25px;
    padding: 20px;
    text-align: justify;
}

p {
    padding : 10px; 
}

.recipe-item {
    margin-top: 50px;
}

.recipe-item h5 {
    text-transform: uppercase;
    font-size : 15px;
    margin-bottom: 1px;
}

.recipe-item span {
    font-size: 14;
    display: block;
    margin-bottom: 10px;
}

.recipe-container {
    margin-bottom: 150px;
}

.account-item {
    background-color: #bdb9b3;
    padding: 70px;
}

.account-item a {
    text-transform: uppercase;
    font-size : 13px;
    color: #4b6584;
    font-weight: bold;
}
.account-item a:hover {
    text-decoration: none;
    color: #778ca3;
}
.avis_patients {
    height: 300px;
    width: 500px;
}

footer {
    font-size: small;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #609A7D;
   
    
}