body {
    background: #f3f3f7;
    
}

header {
    background-color: #609A7D;
    color: white;
    font-size: 1.2em;
}

form {
    margin-left: 100px;
    margin-right: 150px;
}

.img-fluid {
    
    margin-right: 60px;
}


h3 {
    text-align: center;
    padding: 20px;
    color: #DC9A7D;
}

section {
    margin: 25px;
    padding: 20px;
    text-align: justify;
}

p {
    padding : 10px; 
}


footer {
    font-size: small;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #609A7D;
    
    margin-top: 50px;
   
}