@import "node_modules/bootstrap/css/bootstrap" ;

.img-fluid {
    
    margin-right: 50px;
}

header {
    background-color: #609A7D;
    
}

h3 {
    text-align: center;
}

span {
    margin: 50px;
    padding: 50px;

}

footer {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #609A7D;
    padding-top: 25px;
    margin-top: 50px;
}